/* Menu Espace*/
#EspacePro {
  color: white;
  padding: 5px;
  font-size: 0.8em;
  border: none;
  background-color: #424242;
}

#EspacePro:hover {
  background-color: #ff6600;
}

/* Dropdown Formulaire */
.DropButton1 {
  background-color: :##424242;
  color: white;
  padding: 5px;
  font-size: 1em;
  border: none;
}

.DropButton:hover {
  background-color: #ff6600;
  color: white;
  padding: 5px;
  font-size: 1em;
  border: none;
}

.DropButton {
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 0.8em;
  border: none;
}

.DropDown {
  position: relative;
  display: inline-block;
}

.DropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 2px solid orange;
  padding: 5px;
}

.DropdownContent a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.DropdownContent a:hover {
  background-color: #ddd;
}

.DropDown:hover .DropdownContent {
  display: block;
}

.DropDown:hover .DropButton .DropButton1 {
  background-color: #ff6600;
  border: 5px solid #ff6600;
}

#FB {
  background-color: #3b5998;
  color: #FFFFFF;
}

#HorizontalLine {}

/* Fin  menu espace*/
/*Bloc Banner*/
#baseline {
  font-size: 0.5em;
}

#CountButton {
  background: #ff6600;
  padding: 12px;
  font-size: 0.8em;
  border-radius: 0.5px;
}

#HomeBanner {
  width: 30vw;
}

#ContactBanner {
  width: 12vw;
}

#PanierImg {
  width: 15vw;
  margin-right: 5vw;
}

#Panier1 {
  font-size: 0.8em;
  color: #ff6600;
}

#Panier2 {
  font-size: 0.7em;
  color: #ff6600;
}

/*Fin Bloc Banner*/
/* Menu 1 header */
#Menu1 {
  Font-size: 0.7em;
}

.nav-item .nav-link {
  padding: 0;
}

#EmptyBlock .navbar-nav #JantesTitle:hover {
  background-color: #4e4e4e;
}

#EmptyBlock .navbar-nav #PromoTitle:hover {
  background-color: #af0303;
}

#EmptyBlock .navbar-nav #HiverTitle:hover {
  background-color: #20809e;
}

#EmptyBlock .navbar-nav #PneuMotoTitle:hover {
  background-color: #5e840c;
}

#EmptyBlock .navbar-nav #PneuQuadTitle:hover {
  background-color: #2f5408;
}

#EmptyBlock .navbar-nav #PneuAgricoleTitle:hover {
  background-color: #5c3702;
}

#EmptyBlock .navbar-nav #PneuPoidsLourdsTitle:hover {
  background-color: #7d1d07;
}

.MenuTire {
  background: #909090;
}

#PneuAutoTitle {
  background-color: #0c3759;
  color: #FFFFFF;
}

#PneuMotoTitle {
  background-color: #909090;
}

#PneuQuadTitle {
  background-color: #909090;
}

#PromoTitle {
  background-color: #f10505;
}

#HiverTitle {
  background-color: #449fba;
}

#MontageTitle {
  background-color: #156391;
}

#EmptyBlock {
  background-color: #156391;
}

/*  Fin Menu 1 header */
/* Menu 2 header */
#Menu2 .navbar-nav .nav-item:hover {
  background-color: #156391;
}

#Menu2 {
  Font-size: 0.8em;
  background-color: #0c3759;
}

/* Fin Menu 2 header */
/* Menu 3 Vertical header */
#MenuVertical {
  background-color: #156391;
  margin: 0;
  float: left;
  font-size: 0.8em;
}

.BoldSearch {
  color: black;
  font-weight: bold;
  font-size: 0.9em;
}

.VerticalTitle {
  font-size: 0.9em;
}

#v-pills-home-tab:active {
  background-color: #1d8ec8;
}

#v-pills-home-tab:hover {
  background-color: #1d8ec8;
}

#v-pills-profile-tab:hover {
  background-color: #1d8ec8;
}

#v-pills-profile-tab:active {
  background-color: #1d8ec8;
}

#v-pills-messages-tab:hover {
  background-color: #1d8ec8;
}

#v-pills-messages-tab:active {
  background-color: #1d8ec8;
}

#BlocDeroulant1 {
  background-color: #1d8ec8;
  margin: 0;
}

/* Fin Menu 3 header */
/*Content Menu 3*/
#v-pills-home {
  font-size: 0.7em;
  color: #FFFFFF
}

#ToolSearch {
  height: 4vh;
}

#ToolSearchButton {
  background-color: #ff6600;
  border-color: 1px solid #ff6600;
  color: white;
}

.AutoSearch {
  font-size: 0.7em;
  color: white;
}

.LogoPneu {
  width: 8vw;
}

select {
  width: 5vw;
}

/* Fin Content Menu 3*/
@media (max-width: 990px) {
  #HomeBanner {
    width: 30vw;
  }

  #ContactBanner {
    width: 12vw;
  }

  #PanierImg {
    width: 30vw;
    margin-right: 5vw;
  }
}

@media (max-width: 360px) {

  /*Bloc Banner*/
  #HomeBanner {
    width: 50vw;
  }

  #ContactBanner {
    width: 12vw;
  }

  #PanierImg {
    width: 50vw;
  }
}
