.container3 {
  margin-left: 12vw;
  margin-top: 10px;
  width : 980px;
  height: 663px;
  box-shadow: 0 0 10px #999;
}

.bandeau1 {
  width: 115%;
  background: #ff6600;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-top: 2vh;
  margin-bottom: 0vw;
  margin-left: 1vw;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1vw;
}

.blocImage {
  margin-left: 1vw;
  margin-top: 0vh;
  background: url(https://static.allopneus.com/images/refonte_homes/home_widget_garantie.jpg);
  width: 355px;
  height: 204px;
}

#texteBloc1 {
  text-align: right;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 120px;
  padding-right: 30px;
  font-weight: bold;
  color: white;
  line-height: 0;
}

#texte2Bloc1 {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 0;
  text-align: right;
  padding-right: 22px;
  font-weight: bold;
  color: #ff6602;
}

#bouttonBloc1 {
  background: #ff6600;
  border: none;
  border-radius: none;
  position: absolute;
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
  bottom: 16vh;
  right: -3vw;
}

.fleche1 {
  position: absolute;
  top: 4.3vh;
  padding-left: 1vw;
  margin-left: 1vw;
  margin-top: 2vh;
}

.bandeau2 {
  width: 75%;
  background: #484848;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-left: 3vw;
  margin-right: 0;
  margin-bottom: 0vw;
  margin-top: 2vh;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1vw;
}

.imageBloc2 {
  position: absolute;
  margin-left: 1vw;
  width: 8vw;
  height: 4vw;
  top: 2vh;
  right: 70px;
}

.fleche2 {
  position: absolute;
  top: 4.3vh;
  padding-left: 4vw;
  margin-top: 2vh;
}

#derniereP1 {
  font-size: 12px;
  margin-top: -18px;
}

.dernierePhrase1 {
  color: #ff6626;
  font-weight: bold;
}

#derniereP2 {
  font-size: 12px;
  margin-top: -20px;
}

.dernierePhrase2 {
  color: #ff6626;
  font-weight: bold;
}

.blocTexte {
  background-color: #f6f6f6;
  border: solid 1px #d6d6d6;
  width: 232px;
  height: 204px;
  margin-left: 3vw;
}

.texte1Bloc2 {
  color: #3e3d40;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 0;
}

.texte2Bloc2 {
  color: #ff6121;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 0;
}

.texte3Bloc2 {
  font-size: 12px;
  color: black;
  line-height: 0;
}

.separation {
  margin-top: -10px;
}

.texte4Bloc2 {
  color: #3e3d40;
  font-weight: bold;
  font-size: 14px;
  margin-top: -10px;
}

.texte5Bloc2 {
  color: #ff6600;
  font-weight: bold;
  font-size: 14px;
}

.underline {
  color: #433d40;
}

.paragraphe3 {
  font-size: 12px;
  color: black;
  margin-top: -22px;
}

br {
  line-height: 0;
}

#bouttonBloc2 {
  background: #484848;
  border-radius: none;
  position: absolute;
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
  bottom: 16vh;
  right: 4.5vw;
}

.bandeau3 {
  width: 27vw;
  background: #484848;
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-left: -4.5vw;
  margin-top: 2vh;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1vw;
}

.blocTexte2 {
  background-color: white;
  border: solid 1px #d6d6d6;
  margin-left: -4.5vw;
  width: 27vw;
  height:300px;
}

.fleche3 {
  position: absolute;
  top: 7.9vh;
  right: 38vw;
}

#premierTitre {
  font-size: 12px;
  font-weight: bold;
  color: black;
  padding-top: 8vh;
  padding-left: 8vw;
}

#premiereImageBloc3 {
  margin-top: -20px;
  padding-left: 8vw;
}

#deuxiemeImageBloc3 {
  margin-top: -150px;
  padding-right: 3vw;
  padding-left: 8vw;
}

#troisiemeImageBloc3 {
  padding-right: 200px;
  margin-top: -242px;
}

#bouttonBloc3 {
  background: #ff6600;
  border: none;
  border-radius: none;
  position: absolute;
  text-align: center;
  font-size: 12px;
  left: 0px;
  margin-left: 5vw;
  margin-top: -40px;
}

.prix1 {
  color: #433d40;
  font-size: 10px;
  padding-left: 270px;
}

.prix1Partie2 {
  color: #ff6602;
  font-size: 30px;
  font-weight: bold;
  padding-left: 270px;
  padding-bottom: 20%;
}
