#carouselExampleIndicators  #target1 {
  background-image: url("Pneu-Allopneus_premium_Promo-pneu-auto-pas-cher-slidinette.jpg");
  background-repeat: no-repeat;
  display: block;
}

#carouselExampleIndicators #target2{
  background-image: url("Pneu_pirelli_pneu_auto_pas_cher_montage_domicileslidinette.jpg");
  background-repeat: no-repeat;
  display: block;
}

#carouselExampleIndicators #target3 {
  background-image: url("Pneu_hankook_pneu_auto_nouveau_pas_cher_slidinette.jpg");
  background-repeat: no-repeat;
  display: block;
}

.carousel-indicators>li{
  height: 3.1vw;
  width: 9.3vW;
}

.modal-title{
  color: black;
}

.modal-body{
  font-size: 0.9vw;
}

#Modalink{
  color: black;
  text-decoration: underline;
}

.carousel-caption{
  top: 35vw;
  left: 70vw;
  font-size: 1vw;
}

.modal-body2{
  margin-top: 2vw;
  font-size: 0.9vw
}

.OrangeColor{
  color: #ff6600;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
}

.imgbody1{
  width: 6vw;
}

.Btnwen{
width: 3vw;
background-color: #ff6600;
font-family: 'Roboto', sans-serif;
}

.BgBlack{
  background-color: #343434;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.chevron{
width: 1vw;
}

.TitleOrange{
  background-color: #ff6600;
  color: white;
  text-align: center;
  height: 3.2vh;
  font-size: 1vw;
}

.BlackText{
  font-size: 1vw;
}#carouselExampleIndicators  #target1 {
  background-image: url("Pneu-Allopneus_premium_Promo-pneu-auto-pas-cher-slidinette.jpg");
  background-repeat: no-repeat;
  display: block;
}

#carouselExampleIndicators #target2{
  background-image: url("Pneu_pirelli_pneu_auto_pas_cher_montage_domicileslidinette.jpg");
  background-repeat: no-repeat;
  display: block;
}

#carouselExampleIndicators #target3 {
  background-image: url("Pneu_hankook_pneu_auto_nouveau_pas_cher_slidinette.jpg");
  background-repeat: no-repeat;
  display: block;
}

.carousel-indicators>li{
  height: 3.1vw;
  width: 9.3vW;
}

.modal-title{
  color: black;
}

.modal-body{
  font-size: 0.9vw;
}

#Modalink{
  color: black;
  text-decoration: underline;
}

.carousel-caption{
  top: 35vw;
  left: 70vw;
  font-size: 1vw;
}

.modal-body2{
  margin-top: 2vw;
  font-size: 0.9vw
}

.OrangeColor{
  color: #ff6600;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
}

.imgbody1{
  width: 6vw;
}

.Btnwen{
width: 3vw;
background-color: #ff6600;
font-family: 'Roboto', sans-serif;
}

.BgBlack{
  background-color: #343434;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.chevron{
width: 1vw;
}

.TitleOrange{
  background-color: #ff6600;
  color: white;
  text-align: center;
  height: 3.2vh;
  font-size: 1vw;
}

.BlackText{
  font-size: 1vw;
}
