@import "../../css/reveal.css";
@font-face {
  font-family: 'icomoon';
  src: url('../../fonts/icomoon.eot?s3k8cx');
  src: url('../../fonts/icomoon.eot?s3k8cx#iefix') format('embedded-opentype'), url('../../fonts/icomoon.ttf?s3k8cx') format('truetype'), url('../../fonts/icomoon.woff?s3k8cx') format('woff'), url('../../fonts/icomoon.svg?s3k8cx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-star:before {
  content: "\e915";
}
.icon-calendar:before {
  content: "\e914";
}
.icon-geo:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e912";
}
.icon-clock:before {
  content: "\e910";
}
.icon-spanner:before {
  content: "\e911";
}
.icon-info:before {
  content: "\e90f";
}
.icon-help:before {
  content: "\e90e";
}
.icon-pencil:before {
  content: "\e90d";
}
.icon-power:before {
  content: "\e90c";
}
.icon-mail:before {
  content: "\e909";
}
.icon-tire:before {
  content: "\e90a";
}
.icon-account:before {
  content: "\e90b";
}
.icon-cart:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-truck:before {
  content: "\e902";
}
.icon-credit-card:before {
  content: "\e903";
}
.icon-lock:before {
  content: "\e904";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-login:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-check:before {
  content: "\e907";
}
.icon-check-on:before {
  content: "\f046";
}
.icon-check-off:before {
  content: "\f096";
}
.icon-close:before {
  content: "\e908";
}
.icon-error:before {
  content: "\e908";
}
.bouton_generique,
.bouton_compare,
.btoc_livrer,
.packs_hiver_fiche_jante .acheter_jante,
.jantes_offres,
.bouton_hiver,
.command-detail .bt_home,
.bt_axa a,
.content-box .bt_home,
#a_code_promo,
.column .bt-blue {
  border: none;
  background: #ecedf0;
  color: #383838 ! important;
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  padding: 7px 20px;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.bouton_generique.big,
.bouton_compare.big,
.btoc_livrer.big,
.packs_hiver_fiche_jante .acheter_jante.big,
.jantes_offres.big,
.bouton_hiver.big,
.command-detail .bt_home.big,
.bt_axa a.big,
.content-box .bt_home.big,
#a_code_promo.big,
.column .bt-blue.big {
  font-size: 15px;
  padding: 12px 20px 10px 20px;
}
.bouton_generique:hover,
.bouton_compare:hover,
.btoc_livrer:hover,
.packs_hiver_fiche_jante .acheter_jante:hover,
.jantes_offres:hover,
.bouton_hiver:hover,
.command-detail .bt_home:hover,
.bt_axa a:hover,
.content-box .bt_home:hover,
#a_code_promo:hover,
.column .bt-blue:hover {
  box-shadow: 0 1px 1px #b9b9b9 inset;
  text-decoration: none;
}
#side_large .bouton_generique,
.btoc_livrer,
.jantes_offres,
.bouton_hiver {
  background: #484848;
  box-shadow: 0 1px 1px #000;
  color: #fff ! important;
}
#side_large .bouton_generique:hover,
.btoc_livrer:hover,
.jantes_offres:hover,
.bouton_hiver:hover {
  box-shadow: 0 1px 1px #000 inset;
}
#bloc_accessoires .bouton_generique,
#side_large .bouton_hiver,
#side_large .accs .bouton_generique {
  background: #68bfd6;
  box-shadow: 0 1px 1px #427c8e;
  color: #fff ! important;
}
#bloc_accessoires .bouton_generique:hover,
#side_large .bouton_hiver:hover,
#side_large .accs .bouton_generique:hover {
  box-shadow: 0 1px 1px #427c8e inset;
}
.command-detail .bt_home,
.bt_axa a,
.content-box .bt_home,
#a_code_promo,
.column .bt-blue {
  background: #1d8ec8;
  box-shadow: 0 1px 1px #427c8e;
  color: #fff ! important;
}
.command-detail .bt_home:hover,
.bt_axa a:hover,
.content-box .bt_home:hover,
#a_code_promo:hover,
.column .bt-blue:hover {
  box-shadow: 0 1px 1px #427c8e inset;
}
.bouton_orange,
.w_voir,
.acheter_pack,
.voir_new,
.bouton_generique.orange,
#mobile .btoc_livrer,
#centre_resum .btn_t03,
#centre_presta .btn_t03,
#cart_add,
#pack_see,
#chooseDimension,
.packs_produits_new_toutes_saisons a,
.comment-area a.bouton_generique,
.find_vehicule a,
.packs_hiver_fiche_jante .bouton_generique,
.savoir2-1,
.command-detail .bt_next,
.box-passation #log-commande,
.colopt a,
.content-box .bt_next,
.bouton_popup .bt_next,
#side_large .accs_hiver .bouton_generique {
  border: none;
  background: #ff6600;
  color: #fff ! important;
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  padding: 7px 20px;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.bouton_orange.big,
.w_voir.big,
.acheter_pack.big,
.voir_new.big,
.bouton_generique.orange.big,
#mobile .btoc_livrer.big,
#centre_resum .btn_t03.big,
#centre_presta .btn_t03.big,
#cart_add.big,
#pack_see.big,
#chooseDimension.big,
.packs_produits_new_toutes_saisons a.big,
.comment-area a.bouton_generique.big,
.find_vehicule a.big,
.packs_hiver_fiche_jante .bouton_generique.big,
.savoir2-1.big,
.command-detail .bt_next.big,
.box-passation #log-commande.big,
.colopt a.big,
.content-box .bt_next.big,
.bouton_popup .bt_next.big,
#side_large .accs_hiver .bouton_generique.big {
  font-size: 15px;
  padding: 12px 20px 10px 20px;
}
.bouton_orange:hover,
.w_voir:hover,
.acheter_pack:hover,
.voir_new:hover,
.bouton_generique.orange:hover,
#mobile .btoc_livrer:hover,
#centre_resum .btn_t03:hover,
#centre_presta .btn_t03:hover,
#cart_add:hover,
#pack_see:hover,
#chooseDimension:hover,
.packs_produits_new_toutes_saisons a:hover,
.comment-area a.bouton_generique:hover,
.find_vehicule a:hover,
.packs_hiver_fiche_jante .bouton_generique:hover,
.savoir2-1:hover,
.command-detail .bt_next:hover,
.box-passation #log-commande:hover,
.colopt a:hover,
.content-box .bt_next:hover,
.bouton_popup .bt_next:hover,
#side_large .accs_hiver .bouton_generique:hover {
  box-shadow: 0 1px 1px #a14015 inset;
  text-decoration: none;
}
.bouton_flat_gris {
  display: block;
  border: none;
  background: #999999;
  color: #fff !important;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
}
.bouton_flat_gris:hover {
  text-decoration: none;
  background: #a9a8a8;
}
.bouton_orange_ombre {
  border: none;
  background: #ff6600;
  border-bottom: solid 2px #c44918;
  color: #fff !important;
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  padding: 7px 20px 5px 20px;
  cursor: pointer;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-appearance: none;
}
.bouton_orange_ombre:hover {
  background-color: #ff7610;
  box-shadow: 0 2px 2px #c44918 inset;
  text-decoration: none;
  border-bottom-color: transparent;
}
.bouton_facebook_ombre {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid #316094;
  padding: 12px 10px 10px 50px;
  background: #4e82be;
  color: #fff !important;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.bouton_facebook_ombre:hover {
  background-color: #5e92ce;
  box-shadow: 0 2px 2px #316094 inset;
  text-decoration: none;
  border-bottom-color: transparent;
}
.btn-search {
  position: absolute;
  display: block;
  right: 16px;
  bottom: 20px;
  margin: 0;
  padding: 0 0 0 20px;
  width: 159px;
  height: 35px;
  line-height: 36px;
  background: url("https://static.allopneus.com/images/refonte_homes/btn-rechercher-combo.jpg") left top no-repeat;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.btn-search:hover {
  background: url("https://static.allopneus.com/images/refonte_homes/btn-rechercher-combo.jpg") left -35px no-repeat;
}
.btn-search.disabled,
.btn-search.disabled:hover {
  background: url("https://static.allopneus.com/images/refonte_homes/btn-rechercher-combo.jpg") left -70px no-repeat;
  color: #ccc;
  cursor: default;
}
#bloc_packs_hiver .btn-search {
  right: 40px;
  bottom: 12px;
  padding: 0 25px 0 0;
  width: 116px;
  height: 30px;
  line-height: 30px;
  background: url("https://static.allopneus.com/images/refonte_homes/continuer.png") left top no-repeat;
}
#bloc_packs_hiver .btn-search:hover {
  background: url("https://static.allopneus.com/images/refonte_homes/continuer_over.png") left top no-repeat;
}
.acheter_new:not(form) {
  border: none;
  display: block;
  width: auto;
  height: auto;
  background: url("https://static.allopneus.com/images/refonte_homes/acheter.png") left top no-repeat;
  margin: 0;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  padding: 3px 8px 4px 25px;
  font-weight: bold;
  cursor: pointer;
}
.acheter_new:not(form):hover {
  background: url("https://static.allopneus.com/images/refonte_homes/acheter_over.png") left top no-repeat;
  color: #fff;
}
#centre_presta .vacance_fiche,
#centre_presta .vacance_fiche:hover {
  background: url('https://static.allopneus.com/images/icons/ico_palmier.png') 14px 2px no-repeat #aaaaaa;
  box-shadow: 0 1px 1px #666666;
}
#centre_presta .vacance_fiche {
  padding-left: 50px;
}
#infoStation .station_cta .btoc_livrer_vacance {
  background-position: 7px 5px;
  padding-left: 40px;
}
.ligne_boutons {
  margin: 5px 0;
}
.ligne_boutons.boutons_left a {
  float: left;
}
.ligne_boutons.boutons_right a {
  float: right;
}
.ligne_boutons.boutons_center {
  text-align: center;
}
.bouton_texte {
  display: inline-block;
  padding: 7px 20px 5px;
}
.bouton_texte:hover {
  color: #ff6600;
}
.bouton_black {
  border: 2px #fff solid;
  border-radius: 4px;
  background: #383838;
  box-shadow: 0 1px 1px #000;
  color: #fff ! important;
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 0 auto;
  padding: 7px 20px 5px 20px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}
.bouton_black.big {
  font-size: 15px;
  padding: 12px 20px 10px 20px;
}
.bouton_black:hover {
  box-shadow: 0 1px 1px #000 inset;
  text-decoration: none;
}
.btn_generique {
  display: inline-block;
  border: none;
  width: auto;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  padding: 8px 12px;
  cursor: pointer;
}
.btn_orange {
  background-color: #ff6600;
}
.btn_orange:hover {
  background-color: #ff7610;
}
.btn_rouge {
  background-color: #EB5054;
  cursor: default;
  text-transform: uppercase;
}
.btn_rouge:hover {
  background-color: #EB5054;
  box-shadow: none;
}
.btn_rouge .onlyMobile {
  display: none !important;
}
.btn_rouge .onlyDesktop {
  display: block !important;
}
.btn_rouge.btn_indispo {
  font-size: 11px;
}
html body {
  color: #3e3d40;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
}
html body #full {
  position: relative;
}
html body #full .backgraounde {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #ccc;
  display: none;
}
html body #full .mode_preview_bg {
  position: relative;
  height: 100px;
  width: 100%;
  background: #090;
  color: #fff;
  padding-left: 450px;
  z-index: 200;
}
html body #full .mode_preview_bloc {
  position: fixed;
  top: 0px;
  height: 100px;
  width: 100%;
  background: #090;
  z-index: 200;
  color: #fff;
  padding-left: 450px;
}
html body #full .mode_preview_bloc .mode_preview_debut {
  float: left;
  width: 700px;
  text-align: center;
  margin: auto;
}
html body #full .mode_preview_bloc .mode_preview_debut .mode_preview_widget {
  margin: 0;
}
html body #full .mode_preview_bloc .mode_preview_debut .mode_preview_widget a {
  color: #fff;
  text-decoration: underline;
}
html body #full .mode_preview_bloc .mode_preview_fin {
  float: left;
  width: 300px;
  margin: auto;
}
html body #full .mode_preview_bloc .mode_preview_fin span {
  position: relative;
  bottom: 15px;
  color: #fff;
}
html body #full #page {
  width: 100%;
  background: none;
  z-index: 9;
  position: relative;
}
html body #full #page #header_bloc {
  background: url("https://static.allopneus.com/images/refonte_homes/fond_header_bloc_2.jpg") left top repeat-x;
}
html body #full #page #header_bloc #header {
  z-index: 10;
  overflow: visible;
  margin: 0 auto;
  width: 980px;
}
html body #full #page #header_bloc #header .tab-area {
  background: #fff;
  margin: 0 0 280px 0;
  position: relative;
  z-index: 11;
  width: 980px;
}
html body #full #page #header_bloc #header .tab-area.no-slider {
  margin: 0;
}
html body #full #page #header_bloc #header .tab-area.no-slider #ariane_vehicule {
  position: relative;
}
html body #full #page #header_bloc #header .tab-area #tracking-control {
  position: absolute;
  left: 0;
  right: 0;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container {
  position: relative;
  display: block;
  background: #ffffff;
  overflow: hidden;
  padding: 7px 15px;
  border: 1px solid #e2e2e2;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div {
  display: block;
  float: left;
  width: 20%;
  padding-top: 3px;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div a,
html body #full #page #header_bloc #header .tab-area #tracking-control-container div span {
  font-family: Open Sans, arial, sans-serif;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div span {
  padding-left: 12px;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div#tracking-control-hello {
  padding-top: 0;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div#tracking-control-hello span {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  padding-left: 5px;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div#tracking-control-hello span b {
  display: block;
  font-size: 14px;
  line-height: 15px;
  color: #ff6600;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div#tracking-control-hello img {
  display: inline-block;
  width: auto;
  height: 35px;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div#tracking-control-order {
  width: 25%;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div#tracking-control-state span {
  line-height: 12px;
  display: inline-block;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div#tracking-control-state span.tracking-control-list {
  margin-bottom: 3px;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div .tracking-control-list {
  padding-left: 0;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div .tracking-control-list:before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  background: #ff6600;
  border-radius: 4px;
  vertical-align: top;
  margin: 4px 5px 0 0;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div .tracking-control-list:not(a) {
  display: block;
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div#tracking-control-parcel a {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 5px 10px;
  border: 1px solid #ff6600;
  color: #ff6600;
  text-decoration: none;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div#tracking-control-parcel a:hover {
  background: #ff6600;
  color: #ffffff;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div#tracking-control-links {
  width: 15%;
  padding-top: 2px;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div#tracking-control-links a {
  display: block;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 2px;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container div#tracking-control-links a:hover {
  text-decoration: none;
}
html body #full #page #header_bloc #header .tab-area #tracking-control-container #tracking-control-close {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 17px;
  color: #9a9a9a;
  cursor: pointer;
}
html body #full #page .bloc_google {
  height: 0;
  overflow: hidden;
}
html body #full #page #ariane_vehicule {
  position: absolute;
  background: #313131;
  border-top: 1px #fff solid;
  height: 29px;
  line-height: 28px;
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  font-size: 11px;
  color: #ff6600;
}
html body #full #page #ariane_vehicule a {
  color: #fff;
  text-decoration: underline;
}
html body #full #page #ariane_vehicule a.change_vehicule {
  float: right;
  color: #3E3D40;
  text-decoration: none;
}
html body #full #page #ariane_vehicule a.change_vehicule span {
  color: #ff6600;
  text-decoration: underline;
  margin: 0 0 0 5px;
}
html body #full #page #bloc_homes {
  box-shadow: 0 0 10px #666;
}
html body #full #page #container {
  width: 960px;
  background-color: #ffffff;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 0 10px #999;
}
html body #ariane_container {
  height: 16px;
  margin: 0 0 10px 0;
  padding: 0 5px 5px 0;
  border-bottom: 1px #eee solid;
}
html body #ariane_container #ariane {
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}
html body #ariane_container #ariane li {
  background: url("https://static.allopneus.com/images/refonte_homes/mini_puce.png") 7px center no-repeat;
  display: inline;
  padding: 0 0 0 20px;
  font-size: 11px;
}
html body #ariane_container #ariane li a {
  font-size: 11px;
  color: #383838;
  text-decoration: none;
}
html body #ariane_container #ariane li a:hover {
  text-decoration: underline;
}
html body #backgroundPopup {
  display: none;
  position: fixed ! important;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  border: 1px solid #cecece;
  z-index: 10000;
  opacity: 0.8;
}
html body #screen {
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 99;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
html body #popup {
  border: 0px solid red;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
}
html body #popup .close {
  border: 0px solid red;
  height: 40px;
  width: 70px;
  z-index: 200;
  float: right;
  margin-right: 10px;
  margin-top: 20px;
  cursor: pointer;
}
html body #mainPopup {
  display: none;
  position: fixed ! important;
  min-height: 200px;
  height: auto ! important;
  width: 674px;
  z-index: 100001;
}
html body #mainPopup h1 {
  color: #ff6600;
  font-weight: bold;
  font-size: 25px;
  margin: 0 30px 5px 30px;
  text-shadow: 0 1px 1px #bfbfbf;
}
html body #mainPopup p {
  color: #666666;
  font-size: 14px;
  margin: 0 30px 30px 30px;
}
html body #mainPopup form {
  margin: 0 0 0 90px;
  width: 470px;
}
html body #mainPopup form input {
  width: 330px;
  height: 18px;
  margin: 0 5px 0 0;
}
html body #mainPopup form a {
  float: right;
}
html body #mainPopup #popup_haut {
  width: 674px;
  height: 252px;
  position: relative;
  background: url("https://static.allopneus.com/images/pp_head_1.png") no-repeat;
}
html body #mainPopup #popup_haut a {
  position: absolute;
  right: 9px;
  bottom: -1px;
}
html body #mainPopup #popup_content {
  width: 674px;
  background: url("https://static.allopneus.com/images/pp_center_1.png") repeat-y;
}
html body #mainPopup #popup_content_sub {
  padding-bottom: 45px;
  background: url("https://static.allopneus.com/images/pp_center_sup_1.jpg") no-repeat bottom;
}
html body #mainPopup #popup_degrade {
  width: 662px;
  height: 22px;
  margin: 0 0 0 6px;
  border-top: 1px solid #fff;
  background: url("https://static.allopneus.com/images/pp_center_deg_1.png") no-repeat;
}
html body #mainPopup #popup_bas {
  width: 674px;
  height: 46px;
  background: url("https://static.allopneus.com/images/pp_foot_1.png") no-repeat;
}
html body #mainPopup #popup_bas img {
  float: left;
  margin: 7px 0 0 20px;
}
html body #mainPopup #popup_bas a {
  color: #ff6600;
  float: right;
  margin: 11px 20px 0 0;
  font-weight: bold;
}
html body #mainPopup #popup_bas a:hover {
  text-decoration: underline;
}
html body #mainPopup .result {
  padding: 5px 0 0 30px;
  color: red;
}
html body .tooltip {
  position: absolute;
  background: #fff;
  color: #3e3d40;
  padding: 10px;
  display: none;
  border: 1px solid #666;
  box-shadow: 0px 2px 5px #666;
  z-index: 200;
}
html body .tooltip a {
  color: #1d8ec8;
  font-size: 11px;
  font-weight: bold;
}
html body #screenshot {
  position: absolute;
  background: #fff;
  color: #3e3d40;
  padding: 10px;
  display: none;
  border: 1px solid #666;
  box-shadow: 0px 2px 5px #666;
  z-index: 200;
}
html body #screenshot_png {
  position: absolute;
  z-index: 200;
}
html body .spaceDiv {
  clear: both;
  height: 1px;
  width: 1px;
}
html body a {
  color: #3e3d40;
}
html body select,
html body input,
html body textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
html body .rm_rating {
  overflow: hidden;
  display: block;
  height: 16px;
  background: url("https://static.allopneus.com/images/stars/etoiles_flat_grey.png") no-repeat scroll 0 0 transparent;
  position: relative;
  width: 84px;
  margin: 0 auto;
}
html body .rm_rating .rm_filled {
  display: block;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
  /*
				background: url("https://static.allopneus.com/images/stars/stars_red.png") no-repeat scroll 0 0 transparent;
				background: url("https://static.allopneus.com/images/stars/etoiles_flat_multicolor.png") no-repeat scroll 0 0 transparent;
				*/
  background: url("https://static.allopneus.com/images/stars/etoiles_flat_orange.png") no-repeat scroll 0 0 transparent;
}
html body .rm_rating .rm_filled.star_1 {
  width: 9px !important;
}
html body .rm_rating .rm_filled.star_2 {
  width: 17px !important;
}
html body .rm_rating .rm_filled.star_3 {
  width: 26px !important;
}
html body .rm_rating .rm_filled.star_4 {
  width: 34px !important;
}
html body .rm_rating .rm_filled.star_5 {
  width: 43px !important;
}
html body .rm_rating .rm_filled.star_6 {
  width: 51px !important;
}
html body .rm_rating .rm_filled.star_7 {
  width: 60px !important;
}
html body .rm_rating .rm_filled.star_8 {
  width: 68px !important;
}
html body .rm_rating .rm_filled.star_9 {
  width: 77px !important;
}
html body .rm_rating .rm_filled.star_10 {
  width: 85px !important;
}
html body #superbox {
  border: 1px #ccc solid;
  border-radius: 10px;
  background-color: #fff;
}
html body #superbox .close {
  background-image: url("https://static.allopneus.com/images/overlayClose.png");
  cursor: pointer;
  height: 35px;
  position: relative;
  margin: -20px -20px 20px 0 ! important;
  float: right;
  width: 35px;
}
html body #superbox .close a {
  display: block;
  height: 35px;
  width: 35px;
}
html body ul,
html body ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
html body .top_link {
  width: 40px;
  height: 53px;
  position: fixed;
  right: 20px;
  bottom: 0px;
  display: none;
  padding: 0;
  background: url("https://static.allopneus.com/images/back-top.png") no-repeat #414141;
  z-index: 2000;
  overflow: hidden;
  text-indent: -3000px;
}
img {
  border: none;
}
html body #full #page #header_bloc {
  background: none;
  padding-top: 10px;
}
.async-header-loader-v2 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url("https://secure.allopneus.com/bundles/allopneussecure/img/allopneus-common-loader.gif") center center no-repeat #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 3;
}
.header-wrap {
  position: relative;
  z-index: 12;
  width: 980px;
  height: 120px;
  background: url("https://static.allopneus.com/images/refonte_homes/fond_header_wrap.png") left top repeat-x;
}
.header-wrap .upline {
  width: 620px;
  padding: 4px 10px 0 90px;
  height: 22px;
  line-height: 22px;
  position: absolute;
  z-index: 10;
  text-align: left;
  font-size: 9px;
  color: #aaa;
}
.header-wrap .lien_logo_new {
  left: 5px;
  position: absolute;
  top: 0;
}
.header-wrap .menu_ident {
  float: right;
  height: 30px;
  position: relative;
  z-index: 100;
}
.header-wrap .menu_ident > li {
  float: left;
  height: 30px;
  margin: 0;
  padding: 0;
  background: #424242;
  text-align: center;
  text-transform: uppercase;
}
.header-wrap .menu_ident > li > a,
.header-wrap .menu_ident > li > span {
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  text-decoration: none;
}
.header-wrap .menu_ident > li > a:hover,
.header-wrap .menu_ident > li > span:hover {
  background: #ff6600;
}
.header-wrap .menu_ident > li.ident {
  background: #000;
  text-transform: none;
}
.header-wrap .menu_ident > li.ident:hover,
.header-wrap .menu_ident > li.ident.active,
.header-wrap .menu_ident > li.ident.logged {
  background: #ff6600;
}
.header-wrap .menu_ident > li.ident > a,
.header-wrap .menu_ident > li.ident > span {
  background: url("https://static.allopneus.com/images/refonte_homes/derouler.png") right 5px no-repeat;
  cursor: pointer;
  text-transform: uppercase;
  width: 150px;
  padding: 0 40px 0 20px;
}
.header-wrap .menu_ident > li.ident > a a,
.header-wrap .menu_ident > li.ident > span a {
  color: #fff;
  text-decoration: none;
}
.header-wrap .menu_ident > li.ident ul {
  display: none;
  position: absolute;
  box-sizing: border-box;
  border: 3px solid #ff6600;
  float: none;
  background: #ffffff;
  top: 30px;
  right: 0px;
  box-shadow: none;
  border-radius: 0px;
  width: 236px;
  margin: 0;
  padding: 0 7px;
  list-style-type: none;
}
.header-wrap .menu_ident > li.ident ul li {
  position: relative;
  clear: both;
  margin: 0;
  background: #ffffff;
  padding: 10px 10px 5px 10px;
}
.header-wrap .menu_ident > li.ident ul li:first-child {
  padding-bottom: 10px;
}
.header-wrap .menu_ident > li.ident ul li:first-child span {
  margin: 0 0 5px 0;
}
.header-wrap .menu_ident > li.ident ul li:last-child .menu_liens {
  margin-bottom: 10px;
}
.header-wrap .menu_ident > li.ident ul li.menu_separateur {
  border-top: 1px solid #929292;
}
.header-wrap .menu_ident > li.ident ul li span {
  display: block;
  clear: both;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: #383838;
}
.header-wrap .menu_ident > li.ident ul li label {
  height: 15px;
  line-height: 15px;
  color: #808080;
  display: block;
  text-align: left;
  font-size: 1em;
  margin: 0px 0px 2px;
}
.header-wrap .menu_ident > li.ident ul li label sup {
  line-height: 5px;
}
.header-wrap .menu_ident > li.ident ul li input {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.header-wrap .menu_ident > li.ident ul li .login-icon--container {
  position: relative;
  overflow: hidden;
}
.header-wrap .menu_ident > li.ident ul li .login-icon--input {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}
.header-wrap .menu_ident > li.ident ul li .login-icon--input.icon-login {
  top: 12px;
}
.header-wrap .menu_ident > li.ident ul li .login-icon--input.icon-lock {
  font-size: 15px;
  left: 11px;
}
.header-wrap .menu_ident > li.ident ul li .login-icon--input.icon-facebook {
  top: 10px;
  left: 10px;
  font-size: 18px;
  color: #ffffff;
}
.header-wrap .menu_ident > li.ident ul li input {
  box-sizing: border-box;
  clear: both;
  width: 100%;
  height: 35px;
  line-height: 35px;
  border: 1px solid #DDD;
  border-radius: 0px;
  background: #FFF none repeat scroll 0% 0%;
  padding: 0px 10px 0px 30px;
  margin: 0 0 5px 0;
  font-size: 12px;
  color: #353535;
  font-style: italic;
}
.header-wrap .menu_ident > li.ident ul li input:focus {
  border-color: #FF6000;
}
.header-wrap .menu_ident > li.ident ul li .menu_liens {
  display: block;
  color: #ff6600;
  font-size: 12px;
  padding: 0 0 0 15px;
  text-align: left;
  background: url("https://static.allopneus.com/images/refonte_homes/mini_puce.png") 2px 4px no-repeat;
}
.header-wrap .menu_ident > li.ident ul li .oubli {
  display: block;
  text-align: right;
  clear: both;
  color: #808080;
  font-size: 10px;
  padding: 0 4px 5px 0;
  margin-bottom: 10px;
}
.header-wrap .menu_ident > li.ident ul li .bouton_orange_ombre {
  width: 100%;
  padding: 9px 0;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.header-wrap .menu_ident > li.ident ul li .bouton_facebook_ombre {
  width: 100%;
  font-size: 11px;
  text-transform: uppercase;
  padding: 12px 10px 10px 8px;
}
.header-wrap .menu_ident > li.ident ul li span#login_message {
  color: red;
  text-transform: none;
}
.header-wrap .menu_ident > li.ident.active ul {
  display: block;
}
.header-wrap #header_contact {
  clear: both;
  float: right;
  height: 50px;
  margin: 22px 225px 0 0;
}
.header-wrap .cart {
  background: url("https://static.allopneus.com/images/refonte_homes/panier_2014.png") left top no-repeat;
  display: block;
  font-size: 11px;
  height: 60px;
  margin: 0;
  padding: 30px 0 0 80px;
  position: absolute;
  right: 0;
  top: 30px;
  width: 129px;
  border-left: 1px #dadada solid;
  text-decoration: none;
}
.header-wrap .cart strong {
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  font-size: 16px;
}
.header-wrap .cart span {
  color: #ff6600;
  display: inline;
  font-weight: bold;
}
.header-wrap .cart span.count_cart {
  position: absolute;
  left: 37px;
  top: 24px;
  color: #fff;
  text-align: center;
  display: block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 15px;
  font-weight: bold;
}
url('https://static.allopneus.com/imagesurl("https://static.allopneus.com/imagesurl(https://static.allopneus.com/images